<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cadastro de Alunos - Cartão de Credito Fiap</title>
  <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/alunos.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <h1>Aluno CRUD</h1>
    <main id="app">
      <router-view></router-view>
    </main>
  </div>

  <template id="aluno">
    <div>
      <h2>{{ aluno.nome }}</h2>
      <b>RA: </b>
      <div>{{ aluno.ra }}</div>
      <br/>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <a>
        <router-link to="/alunos">Voltar para lista de alunos </router-link>
      </a>
    </div>
  </template>

  <template id="aluno-list">
    <div>
      <div class="actions">
        <a class="btn btn-default">
          <router-link :to="{path: '/add-aluno'}">
            <span class="glyphicon glyphicon-plus"></span>
            Adicionar Aluno
          </router-link>
        </a>
      </div>
      <div class="filters row">
        <div class="form-group col-sm-3">
          <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" requred/>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Nome</th>
          <th>RA</th>
          
          <th class="col-sm-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="aluno in filteredAlunos">
          
          <td>
            <a>
              <router-link :to="{nome: 'aluno', params: {aluno_id: aluno.id}}">{{ aluno.nome }}</router-link>
            </a>
          </td>
          <td>{{ aluno.ra }}</td>
          
          <td>
            <a class="btn btn-warning btn-xs">
              <router-link :to="{nome: 'aluno-edit', params: {aluno_id: aluno.id}}">Editar</router-link>
            </a>
            <a class="btn btn-danger btn-xs">
              <router-link :to="{name: 'aluno-delete', params: {aluno_id: aluno.id}}">Deletar</router-link>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </template>


  <template id="add-aluno">
    <div>
      <h2>Add new aluno</h2>
      <form @submit="createAluno">
        <div class="form-group">
          <label for="add-name">Name</label>
          <input class="form-control" id="add-name" v-model="aluno.nome" required/>
        </div>
        <div class="form-group">
          <label for="add-ra">RA</label>
          <textarea class="form-control" id="add-ra" rows="10" v-model="aluno.ra"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Criar</button>
        <a class="btn btn-default">
          <router-link to="/">Cancelar</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="aluno-edit">
    <div>
      <h2>Editar aluno</h2>
      <form @submit="updateAluno">
        <div class="form-group">
          <label for="edit-name">Nome</label>
          <input class="form-control" id="edit-name" v-model="aluno.nome" required/>
        </div>
        <div class="form-group">
          <label for="edit-description">RA</label>
          <textarea class="form-control" id="edit-ra" rows="3" v-model="aluno.ra"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a class="btn btn-default">
          <router-link to="/">Cancelar</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="aluno-delete">
    <div>
      <h2>Deletar aluno {{ aluno.nome }}</h2>
      <form @submit="deleteAluno">
        <p>Esta ação não pode ser desfeita.</p>
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a class="btn btn-default">
          <router-link to="/">Cancelar</router-link>
        </a>
      </form>
    </div>
  </template>

  <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="/alunos.js"></script>

</body>
</html>